.movies-card {
  width: 360px;
  background: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: var(--border-radius-s);
}

.movies-card__header {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__name {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}

.movies-card__duration {
  font-weight: 400;
  font-size: 13px;
  text-align: right;
  color: var(--muted-text-color);
  margin: 0;
}

.movies-card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.movies-card__footer {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies-card__btn {
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.movies-card__btn_type_check {
  background: var(--error-color);
  border-radius: var(--border-radius-xl);
  background-image: url(../../images/icon__check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.movies-card__btn_type_save {
  background: inherit;
  font-size: 12px;
}

.movies-card__btn_type_delete {
  background: inherit;
}

@media screen and (max-width: 900px) {
  .movies-card {
    width: 342px;
  }

  .movies-card__img {
    height: 190px;
  }

  .movies-card__footer {
    height: 60px;
  }
}

@media screen and (max-width: 420px) {
  .movies-card {
    width: 100%;
  }

  /* .movies-card__img {
    height: 190px;
  }

  .movies-card__footer {
    height: 60px;
  } */
}
