.section-title {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
  margin: 0;
}

@media screen and (max-width: 420px) {
  .section-title {
    font-size: 18px;
    padding-bottom: 28px;
  }
}
