.more {
  padding: 50px var(--side-padding-l) 80px;
}

.more__btn {
  width: 100%;
  height: 36px;
  border: none;
  cursor: pointer;
  background: #f9f9f9;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border-radius: var(--border-radius-s);
}

.more__btn:hover {
  opacity: var(--hover-opacity);
}

.more__btn:focus-visible {
  outline: none;
}

@media screen and (max-width: 900px) {
  .more {
    padding: 50px 30px 80px;
  }
}

@media screen and (max-width: 420px) {
  .more {
    padding: 50px 10px 80px;
  }
}
