.search-form {
  margin: 70px var(--side-padding-l) 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(170, 170, 170, 0.2);
}

.search-form__search-group {
  display: flex;
  justify-content: space-between;
  border: 1.5px solid rgb(170, 170, 170, 0.2);
  border-radius: var(--border-radius-m);
  padding: 10px 10px 10px 25px;
}

.search-form__search-group_focused {
  border-color: rgb(170, 170, 170);
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
}

.search-form__serch-input {
  border: none;
  flex: 10;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.search-form__serch-input:focus-visible {
  outline: none;
}

.search-form__serch-btn {
  font-weight: 500;
  font-size: 14px;
  background: var(--primary-color);
  border-radius: var(--border-radius-s);
  min-width: 100px;
  height: 52px;
  color: var(--light-color);
  border: none;
  cursor: pointer;
}

.search-form__serch-btn:hover {
  opacity: var(--hover-opacity);
}

.search-form__switch-label {
  font-size: 13px;
  cursor: pointer;
  width: 36px;
  height: 20px;
  background: rgb(170, 170, 170);
  display: block;
  border-radius: var(--border-radius-l);
  position: relative;
  text-wrap: nowrap;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  margin-top: 26px;
}

.search-form__switch {
  height: 0;
  width: 0;
  visibility: hidden;
  margin-right: 50px;
}

.search-form__switch-label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: var(--success-color);
  border-radius: var(--border-radius-xl);
  transition: 0.3s;
}

.search-form__switch-label_checked {
  background: var(--light-color);
}

.search-form__switch-label_checked::after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.search-form__switch-label:active:after {
  width: 20px;
}

@media screen and (max-width: 900px) {
  .search-form {
    margin: 70px 30px 10px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 420px) {
  .search-form {
    margin: 70px 14px 10px;
    padding-bottom: 60px;
  }

  .search-form__search-group {
    padding: 6px 6px 6px 12px;
  }

  .search-form__serch-input {
    font-size: 16px;
    line-height: 16px;
    width: 65%;
  }

  .search-form__serch-btn {
    min-width: 80px;
    height: 44px;
  }

  .search-form__switch-label {
    font-size: 11px;
  }

  .search-form__switch {
    margin-right: 44px;
  }
}
