.auth-layout {
  width: 396px;
  margin: 0 auto;
}

.auth-layout__header {
  padding: 70px 0 40px;
}

.auth-layout__title {
  font-weight: 500;
  font-size: 24px;
  margin: 40px 0 0;
}

.auth-layout__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  min-height: calc(100vh - 291px);
}

.auth-layout__btn-group {
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.auth-layout__btn {
  width: 100%;
  height: 45px;
  background: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: var(--border-radius-xs);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.auth-layout__link-question {
  font-size: 14px;
  color: var(--muted-text-color);
  margin: 0;
}

.auth-layout__link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-layout__btn:hover,
.auth-layout__link:hover {
  opacity: var(--hover-opacity);
}

@media screen and (max-width: 900px) {
  .auth-layout {
    width: 500px;
  }

  .auth-layout__header {
    padding-top: 232px;
  }

  .auth-layout__form {
    min-height: calc(100vh - 615px);
  }
}

@media screen and (max-width: 420px) {
  .auth-layout {
    width: calc(100% - 60px);
  }

  .auth-layout__header {
    padding: 56px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-layout__title {
    margin-top: 50px;
  }

  .auth-layout__form {
    min-height: calc(100vh - 287px);
  }

  .auth-layout__btn-group {
    padding-bottom: 30px;
  }

  .auth-layout__btn {
    font-size: 12px;
  }

  .auth-layout__link-question {
    font-size: 12px;
  }
}
