.error-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  padding: 246px 0 60px;
  box-sizing: border-box;
}

.error-page__code {
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  margin: 0;
}

.error-page__message {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}

.error-page__btn {
  font-size: 14px;
  border: none;
  background: var(--light-color);
  color: var(--primary-color);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .error-page {
    padding: 408px 0 222px;
  }
}

@media screen and (max-width: 420px) {
  .error-page {
    padding: 330px 0 30px;
  }
}
